
<style>

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800);
@import url(https://fonts.googleapis.com/css?family=Lobster);


nav {
  width:100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.home a {
  font-family: 'Lobster';
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: -webkit-xxx-large;
  background: black;
  color: white;
  width: 200px;
  height: 100px;
  	-webkit-box-shadow: 0 8px 6px -6px black;
  	-moz-box-shadow: 0 8px 6px -6px black;
  	box-shadow: 0 8px 6px -6px black;
}

img {
  height: 45px;
}

a {
  text-decoration: none;  
}

a img:hover {
  transform: scale(.9);
}

body {
  display: flex;
  flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    background-color: #FFB840;
    font-size: 16px;
    align-items: center;
}

.contact_name {
    margin-bottom: 20px;
}

h2,
label {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    color: black;
}

h2 {
  text-align: center;
  width: 360px;
  font-size: 4rem;
}


input {
    max-width: 400px;
    width: 100%;
    height: 1.8rem;
    border: 0;
}

textarea {
    display: block;
    max-width: 450px;
    width: 100%;
    height: 150px;
    border: 0;
    padding: 0;
}

.left_side{
  display: flex;
  justify-content: center;
  align-items: center;
}


.middle {
  display: flex;
}

.right_side{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.right_side a {
  margin-left: 15px;
}


.dropbtn {
  background-color: #FFB840;
  padding: 16px;
  border: none;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  transform: scale(.9);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}


div {
margin-bottom: 20px;
}

.contact_form button {
    background-color: #98554F;
    font-family: 'Open Sans', sans-serif;
    max-width: 450px;
    width: 100%;
    border: 0;
    color: #FDFEFF;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 10px 0;
    cursor: pointer;
}

.contact_form button:hover {
    transition: all 0.5s ease-in-out;
    background-color: #FDFEFF;
    color: #98554F;
}

</style>

  <nav>
    <div class='left_side'>
        <% if(!currentUser){ %>
            <a href="/register"><img src="/pics/sign_up.png"></a>
            <a href="/login"><img src="/pics/login.png"></a>
            <a href="/favors"><img src="/pics/favors.png"></a>
        <% } else { %>
            <div class="dropdown">
            <a href="/favors"><img src="/pics/favors.png"></a>
              <% if(notifications.length > 0 || message_notifications.length > 0){ %>
              <button onclick="myFunction()" class="dropbtn"><img src="/pics/full_inbox.png"></button>
              <% console.log(notifications.length); %>
              <% } else { %>
              <button onclick="myFunction()" class="dropbtn"><img src="/pics/empty_inbox.png"></button>
              <% } %>
              <div id="myDropdown" class="dropdown-content">
        <% notifications.forEach(function(notification) { %>
                <a href="/notifications/<%= notification.id %>"><%= notification.username %> created a favor </a>
        <% });%>
        <% message_notifications.forEach(function(message_notification) { %>
                <a href="/message_notifications/<%= message_notification.id %>"><%= message_notification.username %> messaged you </a>
        <% });%>
                <a href="/notifications">View past notifications</a>    
              </div>

            
            <% if(currentUser.gender == "M"){ %>
                <a href="/users/<%= currentUser.id %>/"><img src="/pics/user_male.png"></a>
              <% } else { %>
                <a href="/users/<%= currentUser.id %>/"><img src="/pics/user_female.png"></a>
              <% } %>
        <% } %>
     </div>
     </div>
     </div>
      <div class="home">
        <a href="/">
          <h3>Tusk</h3>
        </a>
      </div>
        <div class="right_side">
        <%if(currentUser){%>
          <a href="/logout"><img src="/pics/log_out.png"></a>        
          <a href="/chat"><img src="/pics/support.png"></a>
          <a href="/faq"><img src="/pics/faq.png"></a>
          <% } else { %>
          <a href="/chat"><img src="/pics/support.png"></a>
          <a href="/faq"><img src="/pics/faq.png"></a>
        </div>
        <% } %>
  </nav>
      <h2>Let's talk</h2>
<div class="contact_form">

      <form action="/chat" method="post">
        <div>
          <label for="name">Name*</label>
          <input  id="name" type="text" name="enquiry[name]" required>
       </div>
       <div>
         <label for="email">Email*</label>
         <input id="email" type="email" name="enquiry[email]" required>
       </div>
       <div>
         <label for="message">What can we help you with?*</label>
         <textarea id="message" name="enquiry[message]" required></textarea>
      </div>
        <button type="submit">Send</button>                   
      </form>
    </div>


<% include ../partials/footer %>
